<p class="lead">This tool will help you read CSV files. To begin, select a file.</p>

<div class="card drop-zone border border-primary"
ngfDrop
selectable       = "1"
[(validDrag)]    = "validComboDrag"
[(file)]         = "file"
(fileChange)     = "fileChange(file)"
accept           = ".csv"
[maxSize]        = "maxSize"
(lastInvalidsChange) = "invalidFileChange($event)"
[class.border-danger] = "validComboDrag===false"
[class.border-success]   = "validComboDrag"

>
  <div class="card-body">
    <h3 class="card-title">Drag and drop zone</h3>
    <p class="card-text">Drop files here or click to select a file</p>
  </div>
</div>