<p class="lead">Here are the results.</p>

<!-- Search form -->
<div class="md-form mt-0 mb-2">
  <input class="form-control" type="text" placeholder="Search on first name, sur name, issue count or date of birth" (keyup)="applyFilter($event.target.value)">
</div>

<table mat-table [dataSource]="dataSource" matSort class="shadow-sm mb-4">

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First name</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- SurName Column -->
    <ng-container matColumnDef="surName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sur name</th>
      <td mat-cell *matCellDef="let element"> {{element.surName}} </td>
    </ng-container>
  
    <!-- IssueCount Column -->
    <ng-container matColumnDef="issueCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Issue count </th>
      <td mat-cell *matCellDef="let element"> {{element.issueCount}} </td>
    </ng-container>
  
    <!-- DateOfBirth Column -->
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of birth </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <a class="btn btn-primary btn-lg" href="#" role="button" (click)="removeFile()">Change file</a>