<main role="main" class="container">
  <div class="jumbotron rounded shadow-sm bg-white">
    <h1>CSV Reader</h1>
    
    <app-file-selector *ngIf="!showTableComponent"></app-file-selector>
    <app-csv-viewer *ngIf="showTableComponent"></app-csv-viewer>
  </div>
</main>